<form method="post" action="{{ path('app_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
	<button class="classText btn btn-danger">
		<i class="far fa-trash-alt"></i>
	</button>
	<button class="classIcon btn btn-danger">
		<i class="far fa-trash-alt"></i>
	</button>
</form>
